<h1>Lunches made easy</h1>

<div class="registration-form">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <p>By clicking "Sign up", you<br />agree to our <a href="/info/terms">Terms of Service</a></p>

    <div><%= f.submit "Sign up", :class => 'btn btn-block btn-success' %></div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>