

<h1>- Pick your lunch -</h1>
<h2><%= @group_order.restaurant.name %></h2>

<div class="choices-wrapper row">
  <% @group_order.items.each do |item| %>

    <div id="<%= item.id %>" class="choice span4">
      <h3><%= item.name %></h3>
      <p class="description"><%= item.descrip %></p>
      <span class="price"><%= number_to_currency(item.price) %></span>
    </div>
  <% end %>

</div>

  <a href="#option-modal" id="pop-modal" class="btn btn-large btn-success make-order" data-toggle="modal" style="display: none;">Order!</a>

<div class="links" style="display: none;">
  <%= link_to 'Edit Group', edit_group_path(:id => @group.id) %>
  <%= link_to 'Invite Users to Join Group', new_group_invitation_path(:id => @group.id) %>
</div>

<div id="option-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <div id="option-column" class="left"></div>
    <div class="right">
      <h3>Tip</h3>
      $<input id="tip" type="text" placeholder="Enter a tip">
      <ul class="tip-calc">
        <li class="0.15">15%</li>
        <li class="0.20">20%</li>
        <li class="0.25">25%</li>
      </ul>
      <h3>Total</h3>
      <h3 id="total"></h3>

      <a id="submit-order" class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true">Submit Order</a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<script>
  $(function() {
    window.groupOrder = <%= @group_order.id %>;
    window.group = '<%= @group.name %>';
  })
</script>