<%= form_for(@group) do |f| %>
  <div class="groupform">
    <div class="datacolumn">
      <h3>Group Info</h3>
        <%= f.label(:name) %>
        <%= f.text_field(:name) %><br>

      <%= f.fields_for :address do |address_fields| %>
        <%= address_fields.label :phone %>
        <%= address_fields.telephone_field :phone %><br>
      <% end %>

        <%= f.label(:lunch_time) %>
        <div class='input-append bootstrap-timepicker' style='display: inline;'>
          <input id='lunch_time' class='input-small' type='text' name='group[lunch_time]'>
          <span class='add-on'><i class='icon-time'></i></span>
        </div>

        <script type="text/javascript">
        $(document).ready( function(){
          $('#lunch_time').timepicker({
            template: 'dropdown',
            minuteStep: 15,
            showMeridian: false,
            showSeconds: false,
            defaultTime: '<%= @group.lunch_time || '12:00' %>'
          });
        });
        </script> <br> <br>
    </div>
    <div class="datacolumn">
      <h3>Delivery Address</h3>

      <%= f.fields_for :address do |address_fields| %>

        <table class="deliveryaddress">
        <tr>
          <td> <%= address_fields.label :addr %> </td>
          <td> <%= address_fields.text_field :addr %></td>
        </tr>
        <tr>
          <td> <%= address_fields.label :addr2 %></td>
          <td> <%= address_fields.text_field :addr2 %></td>
        </tr>
        <tr>
          <td> <%= address_fields.label :city %></td>
          <td> <%= address_fields.text_field :city %></td>
        </tr>
        <tr>
          <td> <%= address_fields.label :state %></td>
          <td> <%= address_fields.select :state, us_states %></td>
        </tr>
        <tr>
          <td> <%= address_fields.label :zip %></td>
          <td> <%= address_fields.text_field :zip %></td>
        </tr>
        </table>

      <% end %>

    </div>
  </div>
  <%= f.submit 'Submit', :class => 'btn btn-large btn-success' %>
<% end %>