<%= form_for(@group) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %><br>


  <%= f.label(:addr) %>
  <%= f.text_field(:addr) %><br>

  <%= f.label(:addr2) %>
  <%= f.text_field(:addr2) %><br>

  <%= f.label(:city) %>
  <%= f.text_field(:city) %><br>

  <%= f.label(:state) %>
  <%= f.select :state, us_states%>

  <%= f.label(:zip) %>
  <%= f.text_field(:zip) %><br>

  <%= f.label(:phone) %>
  <%= f.text_field(:phone) %><br>

  <%= f.label(:lunch_time) %>

<div class='input-append bootstrap-timepicker' style='display: inline;'>
  <input id='lunch_time' class='input-small' type='text' name='group[lunch_time]' value='12:00:00'>
  <span class='add-on'><i class='icon-time'></i></span>
</div> 

<script type="text/javascript">
$(document).ready( function(){
  $('#lunch_time').timepicker({
    template: 'dropdown',
    minuteStep: 15,
    showMeridian: false,
    showSeconds: false,
    defaultTime: '<%= @group.lunch_time %>'
  });
});
</script>

<br>
  <%= f.submit %>
<% end %>