<h1>Hi<% if @user.first %>,<% end %> <%= @user.first %> !</h1>
<h2>are you ready for lunch?</h2>
<div class="groups">
<h3>Your Groups:</h3>
  <% @user.groups.each do |g| %>
  <ul>
    <li class="group">
      <a href=""><i class="kill icon-remove"></i></a>
      <%= link_to g.name, group_show_path(g.name), :class => 'group-name' %>
    <span class="add-member"><i class="icon-plus"></i><%= link_to 'Add Members', new_group_invitation_path(g) %></span></li>
  </ul>
  <% end %>

</div>

<% if @pending.count > 0 %>
  <br>
  <h3>Invited to:</h3><% @pending.each do |g| %>
  <h5><%= g.name %>:
  <%= link_to 'Join', join_user_path(g) %>
  or
  <%= link_to 'Ignore', ignore_user_path(g) %></h5>
  <% end %>
<% end %>
<br><br>
<br><%= link_to 'Create new group', new_group_path, :class => 'btn btn-large btn-success' %>

