<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>
<br>
<% resource.class.invite_key_fields.each do |field| -%>
  <p><%= f.label field %><br><br>
  <%= f.text_field field %></p>
  <p><input name="group" type="text" style="display:none;" value="<%= $groupHAHA %>"></p>
<% end %>
<br>
  <p><%= f.submit t("devise.invitations.new.submit_button"), :class => 'btn btn-large btn-success' %></p>
<% end %>
