<!DOCTYPE html>
<html>
<head>
  <title>JaneslunchCom</title>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome-ie7.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap-timepicker" %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.0.1/lodash.min.js"></script> -->
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js"></script> -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a href="/" class="brand"><%= image_tag("logo.png") %></a>
      <div class="login pull-right">
        <% if user_signed_in? %>
          <a href="/users/sign_out" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <i class="icon-cog icon-white"></i></a>

            <ul class="dropdown-menu">
              <li><a href="/u">My groups</a></li>
              <li><a href="/u/edit">Edit Profile</a></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            </ul>
        <% else %>
          <a href="/users/sign_in">LOGIN</a>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="wrapper">
    <% if alert %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><%= alert %></p>
      </div>
      <% end %>
      <% if notice %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><%= notice %></p>
      </div>
    <% end %>

  <%= yield %>
  </div>

  <footer>
    <ul>
      <li>About</li>
      <li>Contact</li>
      <li>Terms</li>
      <li>Security</li>
      <li>Suggestions</li>
    </ul>
  </footer>

</body>
</html>
